<div class="product" [ngClass]="isSelected ? 'selected' : 'notselected'">
  <div class="counter">
    <div id="counter">
      <img src="{{ product.imageURL }}" />
    </div>
  </div>
  <div class="badge">
    <div class="titre">
      <p>{{ product.name }}</p>
    </div>
    <div class="sku">
      <p>SKU #{{ product.sku }}</p>
    </div>
    <div class="link">
      <span *ngFor="let name of product.department; let i = index">
        <a href="#">{{ name }}</a>
        <span>{{ i < product.department.length - 1 ? ">" : "" }}</span>
      </span>
    </div>
  </div>
  <div class="price">
    <div id="price">
      <label>{{ product.price }}€</label>
    </div>
  </div>
</div>
