<div class="article">
  <div class="counter">
    <div id="counter">
      <label>{{ article.votes }}</label>
    </div>
    <div id="points">
      <label id="points">points</label>
    </div>
  </div>
  <div class="badge element">
    <div class="titre">
      <p>{{ article.title }}</p>
    </div>
    <ul class="votes">
      <li class="upvote" (click)="voteUp()">
        <i class="arrowUp fa fa-arrow-up"></i>
        <label>UpVote</label>
      </li>
      <li class="downvote" (click)="voteDown()">
        <i class="arrowDown fa fa-arrow-down"></i>
        <label>DownVote</label>
      </li>
    </ul>
  </div>
</div>
