.card {
  max-width: 800px;
  margin-top: 2%;
}
.votes{
  height: 100%;
  width: 20%;
}
.value{
  font-size: 60px;
}
.container {
  text-align: left;
  margin-top:2%;
  display: flex;
}

.column_container {
  padding: 10px 0;
}
.votes{
  display: inline-block;
  text-align: center;
  padding: 10px;
}
.column{
  text-align: center;
  width:55%;
  left:20%;
}

.voters {
  color: cornflowerblue;
}
.voters >li {
  display: inline-block;
}
.item{
  padding-left: 60px;
  font-size: 20px;
}

.icon {
  margin: 0 5px;

}

.largeheader {
  padding-left: 60px;
}

.title {
  font-size: 25px;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

