<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <div class="container">
      <!-- <app-product
        *ngFor="let product of products"
        [product]="product"
      ></app-product> -->
      <app-product-list
        [productList]="products"
        (onProductSelected)="productWasSelected($event)"
      ></app-product-list>
    </div>
    <app-demoreactiveforms></app-demoreactiveforms>
  </body>
</html>
