.layout{
  height: auto;
  text-align: center;
  margin: 2%;
  display: inline-block;
}
.card {
  max-width: 800px;
  display: inline-block;
}
.example-full-width{
  width: 800px;
}
.inputs{
  text-align: center;
}
.rightButton{
  position: relative;
  float: right;
}
