
  <mat-toolbar>
    <span>{{title}}</span>
  </mat-toolbar>
  <div class="layout">
  <mat-card class="card">
    <form class="ui large form segment">
      <h3 class="ui header"> Ajouter un lien </h3>
      <div class="inputs">
        <div class="field">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Titre" name="title" id="title" #newtitle>
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Lien" name="link" id="link" #newlink>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="addArticle(newtitle, newlink)" class="rightButton">
        Soumettre le lien
      </button>
    </form>
  </mat-card>
    <app-article *ngFor="let article of articles" [article]="article">
    </app-article>

  </div>
