.container{
    width: 800px;
    height: 300px;
    margin: 50px 100px;
    background-color: lightgray;
    padding: 20px;
}
.add{
    font-size: xx-large;
    font-weight: bold;
    margin: 10px;
}
.field{
    display: flexbox;
    margin: 20px;
}
input{
    width: 500px;
    font-size: 18px;;
}
p{
    font-weight: bold;
    font-size: 18px;
}